<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>California Green Cars</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style1.css') }}">
	<!-- Leaflet CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	crossorigin=""/>
	<!-- Leaflet JavaScript code -->
	<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
	integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
	crossorigin=""></script>
	<!-- leaflet-choropleth JavaScript -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/choropleth.js') }}"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<!-- Plotly -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="container">
	<div class="topContainer">
		<form>
		<div class="maineDropdown">
			<label for="standard-select">Year Of Report</label>
			<div class="select">
			  <select id="ReportYear">
			  </select>
			  <span class="focus"></span>
			</div>
		</div>
		<div class="maineDropdown">
			<label for="standard-select">Fuel Types</label>
			<div class="multiselect">
			  <div class="select" onclick="showCheckboxes()">
				<select name="category" id="FuelType">
				  <option id="defaultCategory">Select an option</option>
				</select>
				<div class="overSelect"></div>
			  </div>
			  <div id="checkboxes" style="position: absolute;width: 300px;"></div>
			</div>
		</div>
		<div class="maineDropdown">
			<label for="standard-select">Make</label>
			<div class="select">
			  <select id="SelectMake">
			  </select>
			  <span class="focus"></span>
			</div>
		</div>
		</form>
	</div>
	<div class="bottomContainer">
		<div class="bottomLeft" id="map"> </div>
		<div class="bottomRight">
			<div class="topTable">
				<div id="topTable" style="display:none; overflow:auto;">
					<h3 id="tableTitle"></h3>
					<div class="tableHead" id="tableHead">	
					</div>
					<div id="tableBottom" class="tableBottomMain">	
					</div>
				</div>
			</div>
			<div class="bottomTable">
				<h3 id="bottomTable"></h3>
				<div id="chart"></div>
			</div>
		</div>
	</div>
</div>

<script src= "{{ url_for('static', filename='js/logic2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/logic1-CA-bymake.js') }}"></script>
</body>
</html>