<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>California Green Cars</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
      integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
      crossorigin=""></script>

    <!-- leaflet-choropleth JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/choropleth.js') }}"></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="row">
      <div class="col">
        <h1 class="text-center">Performance by Car Maker</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Year: 2020</h4>
        <!-- <select> -->
        <!-- <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup> -->
        <!-- </select> -->
      </div>
      <div class="col">
        <h4>Fuel (Group)</h4>
        <select name="category" id="FuelType">
				  <option id="defaultCategory">Select an option</option>
				</select>
        <!-- <select>
          <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup>
        </select> -->
      </div>
      <div class="col">
        <h4>Vehicle Make</h4>
        <select id="SelectMake">
          <!-- <optgroup label="Car Make">
            <option value="BMW" selected="">BMW</option>
            <option value="TESLA">TESLA</option>
            <option value="TOYOTA">TOYOTA</option>
            <option value="FORD">FORD</option>
            <option value="CHEVROLET">CHEVROLET</option>
          </optgroup> -->
        </select>
      </div>
    </div>
    <div class="row map-region">
      <div class="col">
        <h2>
          <span class="make" id="selectedMake">MAKE</span>, Year: <span class="year">2020</span>
        </h2>
        <div id="map"></div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <h2>
              <span class="make" id="selectedMake">MAKE</span> Cars by Fuel Type in
              <span class="year">2020</span>
            </h2>
            <div id="topTable" style="display:none; overflow:auto;">
              <h3 id="tableTitle"></h3>
              <div class="tableHead" id="tableHead">
                
              </div>
              <div id="tableBottom" class="tableBottomMain">
                
              </div>
            </div>
            <!-- <div id="fueltype"></div> -->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>
              <span class="make" id="selectedMake">MAKE</span> Cars by Model Year for
              <span class="year">2020</span>
            </h2>
            <div id="modelyear"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript files -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/logic1-CA-all.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic1-CA-bymake.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic2.js') }}"></script>

  </body>
</html>
